* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1a1919;
}

.pizza_time{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 95vh;
  gap: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 55vh;
  gap: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

h2 {
  gap: 90px;
  color: #ffffff;
}

h4 {
  gap: 90px;
  color: #ffffff;
}

input {
  padding: 15px 35px 15px 15px;
  border-radius: 8px;
  background-color: #252525;
  color: #ffffff;
  outline: none;
  border: none;
  width: 350px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.mensajito {
  color: rgba(180, 58, 58, 1);
  font-size: 18px;
}

.nuestras_pizzas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    min-width: 23rem;
    min-height: 21rem;
    background-color: #252525;
    border-radius: 10px;
    gap: 2rem;
}

.menu_title {
  font-size: 1.6rem;
  color: #fff;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-width: 28rem;
  min-height: 10rem;
  gap: 3rem;
}

.pizza_item {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  padding: 2px;
}

.slice {
  height: 7rem;
}

.pizzaPicContainer {
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.pizzaPic {
  height: 10rem;
}

.btn {
  height: 35px;
  width: 2vw;
  min-width: 150px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(270deg, rgba(180, 58, 58, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}